:root{
    --primary-color-one: hsl(158, 36%, 37%);
    --primary-color-two: hsl(30, 38%, 92%);
    --primary-color-three: hsl(158, 36%, 17%);
    --nutral-color-one: hsl(212, 21%, 14%);
    --nutral-color-two: hsl(228, 12%, 48%);
    --nutral-color-three: hsl(0, 0%, 100%);
    --primary-ff-one: 'Montserrat', sans-serif;
    --primany-ff-two: 'Fraunces', serif;
    --fw-semibold: 500;
    --fw-bold:700;
}
body{
    display: grid;
    place-content: center;
    background-color: var(--primary-color-two); 
    height: 100vh;
    font-family: var(--primary-ff-one);
}
.contener{
    background-color: var(--nutral-color-three);
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px; 
}
.content{
    margin: 1rem;
    display: grid;
    gap:1rem;
    margin-top: 2rem;
}
.price{
    display: flex;
    align-items: center;
    gap:1rem;
}
.title{
    text-transform: uppercase;
    font-weight: var(--fw-semibold);
    color: var(--nutral-color-two);
    letter-spacing: .3rem;
    font-size: .8rem;
}
.heading{
    font-family: var( --primany-ff-two);
    font-size: 2.3rem;
    color: var(--nutral-color-one);
    line-height: 2.3rem;
}
.description{
    font-size: 1.1rem;
    color: var(--nutral-color-two);
}
.newPrice{
    font-size: 2.2rem;
    font-family: var(--primany-ff-two);
    color: var(--primary-color-one);

}
.oldPrice{
    color: var(--nutral-color-two);
}
.button{
    height: 50px;
    border: none;
    background-color: var(--primary-color-one);
    border-radius: .5rem;
    color: var(--nutral-color-three);
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap:.8rem;
}
.button:hover{
    background-color: var(--primary-color-three);
    cursor: pointer;
}
.button::before{
    width: 15px;
    height: 16px;
    content: "";
    background-image: url(./images/icon-cart.svg);
}

@media(min-width: 600px){
    .contener{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        gap:.8rem;
    }
    .content{
        margin-top: 1rem;
    }
    .description{
        font-size: 1rem;
    }
   
}